span{color: #bebebe;}
link{text-decoration: none; color: #b73e47;}
h3{color: #4f4f4f !important;}
h3:hover{color: #be1522 !important;}
p{
	color: #929292 !important;
	font-size: 14px !important;
    line-height: 24px !important;
    font-style: normal !important;
    font-weight: 300 !important;
}
