*{margin: 0px; padding: 0px;outline: none;}
a, a:hover{text-decoration: none !important;}
ul,li{list-style: none;}
body
{
	font-family: 'Poppins', sans-serif;
}


.qode_search_form {
    background: #262626;
    color: #fff;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.full_section_inner {
    float: left;
    width: 100%;
}
.column-inner {
    float: left;
    width: 100%;    line-height: 33px;
}
.header_top_bottom_holder {
    position: relative;
}
.header-top{ background-color: rgb(58, 58, 60);}
ul.social_icon li {
    display: inline-block;
    width: 32px;
    float: left;
    margin: 0;
}
ul.social_icon li i{
	color: #f5f5f5;font-size: 13px;
}
.social-link {
    float: left;
}
.cta-top {
    float: left;
    color: #929292;
        font-size: 12px;
}


a.call-to-action-button{
    color: #ffffff;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    background-color: #be1522;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    letter-spacing: 0px;
    text-transform: none;
    border-width: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}
a.call-to-quote {
    color: #000000;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    background-color: #f5f5f5;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    letter-spacing: 0px;
    text-transform: none;
    border-width: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.header-logo-bottom {
    background-color: rgba(255, 255, 255, 1);
}
.logos {
    float: left;
    width: 100%;
    height: 100px;padding: 25px 0;
}

.menus{display: flex;margin: 0;}
.menus li{display: inline-block;    position: relative;}

.menus li a {padding: 0 23px;color: #4f4f4f;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: none;height: 100%;    cursor: pointer;line-height: 120px;
    transition: opacity .3s ease-in-out,color .3s ease-in-out;
}

.menus li:hover a {
    color: #be1522;
}


.menus .second {
    left: 0;
    margin: 0;
    top: 100%;
    position: absolute;
    display: block;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    z-index: 10;
    -webkit-transition: top .3s ease-in-out;
    -moz-transition: top .3s ease-in-out;
    -ms-transition: top .3s ease-in-out;
    -o-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out;
}
.second .inner {
    position: relative;
    padding: 0;
    display: block;
    z-index: 997;
}
.menus li:hover .second{
    visibility: visible;
    overflow: visible;
    opacity: 1;
}
.second .inner ul {
    display: inline-block;
    position: relative;
    background-color: #262626;
    border-color: #3d3d3d;
    padding: 7px 0;
}
.second .inner ul li a{
display: block;
    font-weight: 600;
    color: #9d9d9d;
    height: auto;
    line-height: 16px;
    margin: 0;
    padding: 9px 0;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.second .inner ul li a:hover{color: #fff;}


.menus .second .inner ul li {
    padding: 0;
    width: 225px;
    position: relative;
    float: none;
    height: auto;
    background: 0;
    display: block;
}
.menus .second .inner ul li a {
    padding-left: 20px;
    padding-right: 20px;
}

.menus .wide .second ul li {
    float: left;
    width: 249px;
    padding: 0 10px;
    border-left: 1px solid #3d3d3d;
    border-bottom: 0;
}
.menus .wide .second .inner>ul>li>a {
    color: #fff;
    border-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 7px;
    font-size: 13px;
}
.menus .second i {
    display: none;
}
.menus .wide .second ul li ul li {
    z-index: 1;
    padding: 0;
    margin: 0;
    border: 0;
}
.menus .wide .second ul li a{
    padding: 11px 9px;
}
.menus .wide .second ul {
    padding: 15px 10px;
}

.menus .wide:not(.right_position) .second ul li:first-child {
    border-left-color: transparent;
}
.menus .wide .second li.sub-menu-item ul {
    float: left;
    width: 100%;padding: 0px 10px;
}
.menus .wide .second li.sub-menu-item ul li{float: left;width: 100%;}
.menus .wide .second li.sub-menu-item ul li a{
display: block;
    font-weight: 600;
    color: #9d9d9d;
    height: auto;
    line-height: 16px;
    margin: 0;
    padding: 9px 0;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.search .side_menu_button a{
    color: #be1522;
    font-size: 28px;
}

.fixed {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
}

/************************banner**********************/
.home-slide {
    height: 500px;
}
.carousel-inner img {
      width: 100%;
      height: 100%;
  }

.bn-head{
    white-space: nowrap;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}
.banner-section {
    position: relative;
}

.banner-content {
    position: absolute;
    top: 12%;
    /*left: 30%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.full-section {
    background: rgba(0,0,0,0.5);
    padding: 40px 30px;
    text-align: center;
}
.full-section p {
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    letter-spacing: 0px;
    margin: 25px 0;
}
.read-more a{
	min-width: 256px;
	width: 256px;
    max-width: 256px;
	white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    background-color: rgba(0, 0, 0, 0.75);
    border-color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 22px 45px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}

.read-more a:hover {
	background: rgba(255,255,255);
	color: #333;
}
.read-more {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}

/***************service******************/
.hm-serv{
    float: left;
    width: 100%;

}
.service-section{
    padding-top: 70px !important;
    padding-bottom: 50px !important;
    background-color: #f5f5f5 !important;
}
.separator-line {
    position: relative;
    display: block;
    height: 1px;
    background-color: #eaeaea;
    margin: 10px 0;
}
.service-title{
    padding:10px 0 18px;
}
.icon_title{
    color: #0a0a0a;font-weight: 700;font-size: 22px;
}
.aline-center{text-align: center;}
.aline-left{text-align: left;}
.aline-right{text-align: right;}
.service-details a{
    color: #303030;
}
.service-details a:hover{
    color: #be1522;
}
.service-details {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.service-details table td {
    padding: 10px 10px;
}

.q_font_awsome_icon {
    display: inline-block;
}
.service-details table tr {
    vertical-align: baseline;
}
.cm-services{
    padding-top: 40px;
}


/************we are uni************/
.we-are-unified{
    padding-top: 100px;
    padding-bottom: 100px;
}
.unifi-title h2{
    color: #4f4f4f;
    font-size: 80px;
    line-height: 86px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
}
.unifi-content{
    float: left;
    width: 100%;
    margin-top: 14px;
}

.unifi-content p{
    color: #4f4f4f;
    font-size: 23px;
    line-height: 33px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
}
.unifi-story {
    float: left;
    width: 100%;
}
.uni-link {
    float: left;
    width: 100%;
    margin-top: 18px;
}
.unifi-time {
    float: left;
    width: 100%;
    margin-top: 40px;
}
.unifi-time h3{
    color: #4f4f4f;
    font-size: 30px;
    line-height: 42px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: none;
}

.qbutton{
    margin: 40px 0px 0px 0px; border-radius: 34px;-moz-border-radius: 34px;-webkit-border-radius: 34px;border-color: #be1522;background: #be1522;
    font-size: 13px;
    line-height: 63px;
    height: 63px;
    font-style: normal;
    font-weight: 500;
     letter-spacing: 0px;
    text-transform: none;
    border-width: 0px;
        transition: color .1s linear,background-color .1s linear,border-color .1s linear;color: #fff;
    padding: 22px 63px;
}
.qbutton:hover{
        background-color: #f5f5f5;
        color: #333;
}


/************our-blog***********/
.our-blog{
    background-image:url(https://www.unifiedmicro.systems/wp-content/uploads/2018/09/background-4.jpg);
    float: left;
    width: 100%;
}
.blog-section{
    float: left;
    width: 100%;
    padding-top: 50px;
}
a{color: #929292;}
a:hover{color: #be1522;}
h3{
    color: #4f4f4f;
    font-size: 30px;
    line-height: 42px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: none;
}
h5{
    color: #4f4f4f;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: none;
}
h4, .h4, h4 a {
    color: #4f4f4f;
    font-size: 23px;
    line-height: 33px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
}

.blog-post{float: left;width: 100%;margin-top: 20px;padding-top: 20px;padding-bottom: 40px;}

.blog_title{
    margin: 0 0 10px;
}
.blog-post-img {
    float: left;
    width: 100%;
}

.blog-post-img img{
    width: 100%;
}
.blog-art{
    margin: 0 0 20px;
    padding: 0;
    text-align: left;
    vertical-align: top;
    z-index: 100;
    border: 0;
    background-color: #fff;
    float: left;
    display: block;
    box-shadow: 0 4px 9px 0 rgba(23,28,33,.06);
}
.blog-post-text {
    float: left;
    width: 100%;
    padding: 20px 15px;
}
.blog_title a{
    color: #4f4f4f;
    font-size: 18px;
    line-height: 28px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: none;
}
.blog-description{
    color: #929292;
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: 300;
}
.post_info .time{
    color: #303030;
}
.blog_title a:hover{color: #be1522;}
.post_info a{
    color: #bebebe;
    font-weight: 300;
}
.post_info a:hover{color: #be1522;}
.empty_space {
    float: left;
    width: 100%;
}

/************join our team********************/
.join-our-team{float: left;width: 100%;padding-top: 50px;padding-bottom: 50px;}
.wrp-content{float: left;width: 100%;}
.wrp-txt{float: left;width: 100%;margin-top: 25px;}

.team-flow{float: left;width: 100%;margin-top: 25px;}
.icon_list {
    margin-bottom: 21px;
}
.icon_list i {
    background-color: #be1522;
    color: #fff;
    font-size: 12px;
    line-height: 27px;
    height: 27px;
    width: 27px;
    text-align: center;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -o-border-radius: 2em;float: left;
}
.icon_list p {
    font-size: 15px;
    line-height: 27px;
    font-weight: 400;
    margin: 0 0 10px;
    padding: 0 0 0 38px;
    position: relative;
    color: #303030;
}

.career-lg{float: left;width: 100%;margin: 40px 0px 0px 0px;}

/*******************our-customers************************/

.our-customers{
    padding-top: 100px;
    padding-bottom: 100px;
    float: left;
    width: 100%;
    background-color: #e2e2e2 !important;
}
.customer-service{float: left;width: 100%;}


#our-customers-owl img{width: 100%;display: block;}
#our-customers-owl .owl-controls.clickable {
    display: none !important;
}
.empty-space-50{height: 50px;float: left;width: 100%;}
div#our-customers-owl {
    float: left;
    width: 100%;
}
/**************Testimonials*******************/

.client-testimonials{
    padding-top: 100px;
    padding-bottom: 100px;
    float: left;
    width: 100%;
    background-image:url('https://www.unifiedmicro.systems/wp-content/uploads/2018/09/background-4.jpg');

}
.testimonials-service{float: left;width: 100%;}


div#client-testimonials-owl {
    float: left;
    width: 100%;
}



.testimonial_content_inner {
    padding: 53px 45px 39px;
    box-shadow: 0 4px 9px 0 rgba(23,28,33,.06);
    background: #ffffff;
    box-sizing: border-box;
    text-align: center;
}

.testimonial_title_holder h5 {
    color: #4f4f4f; margin: 0 0 22px;
}

.testimonial_rating_holder {
    margin: 17px 0 20px;
    line-height: 1em;
    color: #bebebe;
}

.testimonial_text_inner p {
    margin-bottom: 12px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 24px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
}

.testimonial_star_holder i {
    color: #be1522;
}

#client-testimonials-owl .item{margin: 0px 15px;}
#client-testimonials-owl .owl-controls .owl-page span {background: #303030;margin: 3px;width: 10px;height: 10px;}

.footer-section{
    background-color: #4f4f4f;
    float: left;
    width: 100%;
}
.copy-right {float: left;
    font-size: 12px;
    line-height: 53px;
    height: 53px;
    width: 100%;
    text-align: center;
}
.copy-right p{margin-bottom: 0px;color: #929292;font-size: 14px;font-style: normal;font-weight: 300;}


#back-top {
    bottom: 0;
    opacity: 0;
    z-index: 9;
    right: 20px;
    width: 50px;
    height: 50px;
    padding: 9px 0 0;
    cursor: pointer;
    font-size: 25px;
    position: fixed;
    line-height: 27px;
    text-align: center;
    border-radius: 50% !important;
    border-color: #be1522;
    background: #be1522;
    -webkit-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
    -ms-transform: translateY(40px);
    -webkit-transition: all .6s ease;
    -webkit-transform: translateY(40px);
}

#back-top.active {
    opacity: 0.8;
    transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    background: #be1522;
    color: #fff;
    z-index: 99999;
}



@media only screen and (max-width: 640px){
    .second{display: none !important;}
    .hm-serv{
        width: 80%;
        margin:auto;
    }
}