/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-prev {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 22px;
    /* background: rgba(4, 4, 4, 0.97); */
    filter: Alpha(Opacity=50);
    /* opacity: 0.5; */
    /* top: 95px; */
    /* left: 0px; */
    background: url(../images/icon-left.png) repeat;
    background-size: contain;
    background-repeat: no-repeat;
}
.owl-buttons {
    float: right;
}
.owl-theme .owl-controls .owl-next {
    color: #FFF;
    display: inline-block;
    zoom: 1;
    margin: 5px;
    width: 50px;
    height: 50px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 0;
    background: #869791;
    right: 0;
    background: url(../images/icon-rigth.png) repeat;
    background-size: contain;
    background-repeat: no-repeat;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    border-radius: 20px;
    background: #8d1812;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}